{% extends "web/base.html" %}
{% load staticfiles %}


{% block slider %}
				<div id="banner-slider" class="banner-slider curve-up">
			<!-- <video controls autoplay muted>
			  <source src="assets/images/slider/25.mp4" type="video/mp4">
			  Your browser does not support the video tag.
			</video> -->
			<img class="sp-image" src="{% static 'web/images/slider/bg.jpg' %}" alt="">

			<div class="sp-slides">

				<div class="sp-slide">

					<div class="sp-layer sp-padding caption-text" data-horizontal="371" data-vertical="137" data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="700">
						<div class="banner-caption">
							<span>Examen Tipo Admision</span>
							<h1>San Marcos</h1>
							<p>La informacion respecto al exmane que se brindara<br>
								teniendo encuenta la transparencia de la <br>
								institucion<br> <span> siempre</span></p>
							<a class="tc-btn" href="#">Intentar</a>
						</div>
					</div>

					<img class="sp-layer layer-img-1" data-horizontal="919" data-vertical="-5" data-show-transition="right" data-hide-transition="up" data-show-delay="400" data-hide-delay="200" src="{% static 'web/images/slider/slider-layer-1.png' %}" alt="">
					<img class="sp-layer layer-img-2" data-horizontal="850" data-vertical="50" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="500" src="{% static 'web/images/slider/slider-layer-2.png' %}" alt="">

				</div>

				<div class="sp-slide">

					<div class="sp-layer sp-padding caption-text" data-horizontal="371" data-vertical="137" data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="700">
						<div class="banner-caption">
							<span>Examen Tipo Admision</span>
							<h1>San Marcos</h1>
							<p>La informacion respecto al exmane que se brindara<br>
								teniendo encuenta la transparencia de la <br>
								institucion<br> <span> siempre</span></p>
							<a class="tc-btn" href="#">Intentar</a>
						</div>
					</div>

					<img class="sp-layer layer-img-1" data-horizontal="919" data-vertical="-5" data-show-transition="right" data-hide-transition="up" data-show-delay="400" data-hide-delay="200" src="{% static 'web/images/slider/slider-layer-1.png' %}" alt="">
					<img class="sp-layer layer-img-2" data-horizontal="850" data-vertical="50" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="500" src="{% static 'web/images/slider/slider-layer-2.png' %}" alt="">


				</div>

				<div class="sp-slide">

					<div class="sp-layer sp-padding caption-text" data-horizontal="371" data-vertical="137" data-show-transition="left" data-hide-transition="left" data-show-delay="600" data-hide-delay="700">
						<div class="banner-caption">
							<span>Examen Tipo Admision</span>
							<h1>San Marcos</h1>
							<p>La informacion respecto al exmane que se brindara<br>
								teniendo encuenta la transparencia de la <br>
								institucion<br> <span> siempre</span></p>
							<a class="tc-btn" href="#">Intentar</a>
						</div>
					</div>

					<img class="sp-layer layer-img-1" data-horizontal="919" data-vertical="-5" data-show-transition="right" data-hide-transition="up" data-show-delay="400" data-hide-delay="200" src="{% static 'web/images/slider/slider-layer-1.png' %}" alt="">
					<img class="sp-layer layer-img-2" data-horizontal="850" data-vertical="50" data-show-transition="up" data-hide-transition="up" data-show-delay="800" data-hide-delay="500" src="{% static 'web/images/slider/slider-layer-2.png' %}" alt="">

				</div>

			</div>

			<ul class="sp-thumbnails">
				<li class="sp-thumbnail"></li>
				<li class="sp-thumbnail"></li>
				<li class="sp-thumbnail"></li>
			</ul>

		</div>
{% endblock slider %}
{% block main %}
        <section class="services-holder">
          <div class="container">
            <div class="p-relative has-layout">

              <div class="alert-1">
                <p><i class="icon-star-full"></i>Si deseas ingresar ahora siga el enlace?</p>
                <a class="tc-btn" href="#">Obtener información</a>
              </div>

              <div class="services-columns white-bg servicios">
                <div id="blog-grid-slider" class="blog-grid-slider">

                  <div class="item">
                    <figure class="services-figure bg-1">
                      <figcaption>
                        <span>Eduacion</span>
                        <h2>Secundaria</h2>
                        <a class="tc-btn light shadow-0 sm" href="#">Mas información</a>
                      </figcaption>
                      <img class="service-img" src="{% static 'web/images/services/img-02.png' %}" alt="">
                    </figure>
                  </div>

                  <div class="item">
                    <figure class="services-figure bg-2">
                      <figcaption>
                        <span>Pre-universitario</span>
                        <h2>Preparacion</h2>
                        <a class="tc-btn light shadow-0 sm" href="#">Mas información</a>
                      </figcaption>
                      <img class="service-img" src="{% static 'web/images/services/img-03.png' %}" alt="">
                    </figure>
                  </div>

                  <div class="item">
                    <figure class="services-figure bg-3">
                      <figcaption>
                        <span>Material de estudio</span>
                        <h2>Docencia</h2>
                        <a class="tc-btn light shadow-0 sm" href="#">Mas información</a>
                      </figcaption>
                      <img class="service-img" src="{% static 'web/images/services/img-03.png' %}" alt="">
                    </figure>
                  </div>

                  <div class="item">
                    <figure class="services-figure bg-4">
                      <figcaption>
                        <span>Examenes</span>
                        <h2>Tipo Admisión</h2>
                        <a class="tc-btn light shadow-0 sm" href="#">Mas información</a>
                      </figcaption>
                      <img class="service-img" src="{% static 'web/images/services/img-04.png' %}" alt="">
                    </figure>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </section>

				<section class="tc-padding">
					<div class="container">
						<div class="row">
							<div class="about-img">
								<img src="{% static 'web/images/about-img-1.png' %}" alt="">
							</div>

							<div class="col-lg-6 col-md-7 pull-right">
								<div class="about-text">
									<h3 class="curve-heading">Acerca de Umachay</h3>
									<h4>Desde los inicios de que el hombre aprendio a enseñar la personas evolucionan mas rapidos.</h4>
									<p>
										Es una academia donde cada persona pordra ser retado para poder superar su limites, teniendo en cuenta que siempre nos podemos separar
									</p>
									<p>
										Asi que no dudes en probar nuestra prueba gratis de un mes.
									</p>
									<ul class="check-list">
										<li>Salones comodos</li>
										<li>Docentes reconocidos</li>
										<li>Plataforma actualizada</li>
										<li>Reiniones virtuales</li>
										<li>Creacion de avatares</li>
										<li>Actividades</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</section>
{% endblock main %}
